/*TODO: self host a font as ost https://fontsource.org/ */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100dvh;
  height: 100vh;
}

.main__navbar,
.main__navbar__button {
  padding: 1rem;
}

.main__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5b6d92;
  color: #d5e3e6;
}

.main__navbar__h1 {
  font-size: 4rem;
}

.main__navbar__btn {
  border: 1px solid black;
  border-radius: 1rem;
  background: #d5e3e6;
  color: #364042;
  font-size: 2rem;
  padding: 1rem;
}

dialog {
  display: none;
}

.main__dialog[open] {
display: flex;
justify-content: center;
border-radius: 1rem;
width:fit-content;
}

.dialog__form {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(8, 1fr);
  gap: 0.625rem;
  padding: 1rem;
}

.dialog__form--close-btn {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  justify-self: end;
}

label {
  font-weight: 800;
}

.dialog__form__label--title {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.dialog__form__input--title {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.dialog__form__label--author {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

.dialog__form__input--author {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.dialog__form__label--read {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
}

.dialog__slider {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  justify-self: end;
  border-radius: 2.12rem;
}

.dialog__form--submit-btn {
  grid-row: 6 / 7;
  grid-column: 1 / span 2;
}