/* TO DO 
Responsive and a11y testing
Add media queries for 804px and under -
change layout to stack elements vertically
*/
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(./fonts/open-sans-latin-400-normal.woff),
    url(./fonts/open-sans-latin-400-normal.woff2);
}

html {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

:root {
  --primary: linear-gradient(
    270deg,
    hsl(158deg 39% 34%) 0%,
    hsl(162deg 42% 32%) 24%,
    hsl(165deg 44% 30%) 40%,
    hsl(168deg 46% 28%) 53%,
    hsl(171deg 48% 26%) 63%,
    hsl(174deg 48% 24%) 71%,
    hsl(176deg 48% 23%) 77%,
    hsl(178deg 46% 22%) 84%,
    hsl(181deg 44% 20%) 91%,
    hsl(183deg 42% 20%) 100%
  );
  --secondary: #f5625d;
  --text-display: #ffff;
  --text-glow: 0 0 5px rgba(255, 255, 255, 0.5);
}

body {
  background-image: var(--primary);
}

main {
  display: grid;
  grid-template-areas:
    "header navbar"
    "header main"
    "footer footer";
  grid-template-columns: 30% 70%;
  min-height: 100dvh;
}

.header {
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  color: var(--text-display);
  border-radius: 1rem;
  padding: 1rem;
  z-index: 10;
}

.header__h1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 6rem;
  letter-spacing: 4px;
  margin-left: 1rem;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  text-shadow: var(--text-glow);
  transition: text-shadow 0.3s;
}

.header__p {
  margin: 0 auto;
  font-weight: 500;
}

/* Responsive sizing */
.header__img {
  display: flex;
  align-self: flex-start;
  justify-self: flex-start;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  margin: 0;
}

.navbar {
  grid-area: navbar;
  justify-self: end;
}

.navbar__add-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--secondary);
  border-radius: 1rem;
  background: var(--secondary);
  color: var(--text-display);
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
  margin: 1rem;
}

dialog {
  display: none;
}

.dialog[open] {
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  border: none;
  background:  #cdc5ba;
}

.dialog__form {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.dialog__form--close-btn {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: none;
  justify-self: end;
  margin-bottom: 1.5rem;
  margin-top: 0;
  background: var(--secondary);
  color: var(--text-display);
  font-weight: 600;
  font-size: 2rem;
}

label,
b {
  font-weight: 600;
}

input {
  padding: 1rem;
  border: none;
}

.dialog__form__label--title {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.dialog__form__input--author,
.dialog__form__input--title {
  border-radius: 1rem;
}

.dialog__form__input--title {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.dialog__form__label--author {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.dialog__form__input--author {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.dialog__form__label--pages {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

.dialog__form__input--pages {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  padding: 1rem;
  height: 1rem;
  border-radius: 1rem;
}

.dialog__form__toggle-label {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
}

.dialog__form__toggle-switch {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  justify-self: start;
}

/* Forms the 'box' around the toggle switch*/
.dialog__form__toggle {
  position: relative;
  display: inline-block;
  width: 3.125rem;
  height: 1.625rem;
  background-color: var(--secondary);
  border-radius: 0.9375rem;
  border: 0.0625rem solid gray;
}

/* After slide changes */
.dialog__form__toggle:after {
  content: "";
  position: absolute;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  background-color: var(--text-display);
  top: 0.03125rem;
  left: 0.03125rem;
  transition: all 0.5s;
}

/* Checkbox checked: toggle switch slid over effect */
.dialog__form__checkbox:checked + .dialog__form__toggle::after {
  left: 1.53125rem;
}

/* Initial colors before toggle switch slid over */
.dialog__form__checkbox:checked + .dialog__form__toggle {
  background-color: var(--primary);
}

/* Hide default checkbox display */
.dialog__form__checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -1;
}

.dialog__form--submit-btn {
  grid-row: 6 / 7;
  grid-column: 1 / -1;
  justify-self: center;
  padding: 0 3rem;
  border-radius: 1rem;
  border: none;
  background: var(--secondary);
  color: var(--text-display);
  font-weight: 700;
  font-size: 2rem;
}

/* Container holding the cards */
.library-container {
  grid-area: main;
  justify-self: center;
  align-self: start;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  color: black;
  width: 70%;
  height: fit-content;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
}

/* Individual cards containing each book */
.book {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  width: fit-content;
  min-width: 15rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin: 1rem auto;
  background: #cdc5ba;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6),
    0 6px 12px rgba(152, 121, 121, 0.3);
  transition: 0.3s;
}

.book__label {
  font-weight: bold;
}

/* Delete button */
.book__delete {
  grid-column: span 2;
  justify-self: end;
  width: fit-content;
  padding: 1rem 2rem;
  background: var(--secondary);
  color: var(--text-display);
  font-weight: 800;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.footer {
  grid-area: footer;
  justify-self: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.footer__credit,
.footer__copyright {
  font-size: 0.75rem;
  color: var(--text-display);
  text-align: center;
}

.footer__credit a {
  color: var(--text-display);
  text-decoration: underline;
}

